@model CountryModel
@{
    ViewData["Title"] = "ახალი ქვეყანა";
}

<div class="row">
    <h4>ახალი ქვეყნის დამატება</h4>
</div>

<div class="row mt-5">
    <form asp-controller="Home" asp-action="Create" method="post">
        <div class="row">
            <label class="form-label" asp-for=@Model.Country></label>
            <input class="form-control" asp-for=@Model.Country />
        </div>
        <div class="row mt-5">
            <input type="submit" class="btn btn-primary w-25" value="დამატება" />
        </div>
    </form>
</div>